In [1]:
import pandas as pd
%load_ext autoreload
%autoreload 2
from my_package.textfile2df import poscar2df_coords 
from my_package.textfile2df import nnlist2df
from my_package import df2poscar


df_coords = poscar2df_coords(filename='./POSCAR')
df_nnlist = nnlist2df(POSCAR_nnlist='POSCAR.nnlist')

In [16]:
df_nnlist

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z,central species,neighboring species
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O
16,5,5,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
17,6,6,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
18,7,7,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
19,8,8,0.000000,0.000000,0.000000,0.000000,0,0,0,Ba,Ba
20,9,1,1.282630,0.000000,-1.281885,0.043713,0,0,0,O,C
21,9,9,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
22,10,2,1.282630,0.000000,1.281885,0.043713,0,0,0,O,C
23,10,10,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
24,11,3,1.282630,0.000000,1.281885,-0.043713,0,0,0,O,C
25,11,11,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
26,12,4,1.282630,0.000000,-1.281885,-0.043713,0,0,0,O,C
27,12,12,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
28,13,1,1.289100,-1.112990,0.650283,-0.012857,0,0,0,O,C
29,13,13,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
30,14,2,1.289100,1.112990,-0.650283,-0.012857,0,0,0,O,C
31,14,14,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
32,15,3,1.289100,1.112990,-0.650283,0.012857,0,0,0,O,C
33,15,15,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
34,16,1,1.289100,1.112990,0.650283,-0.012857,0,0,0,O,C
35,16,16,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
36,17,2,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,O,C
37,17,17,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
38,18,4,1.289100,-1.112990,0.650283,0.012857,0,0,0,O,C
39,18,18,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
40,19,3,1.289100,-1.112990,-0.650283,0.012857,0,0,0,O,C
41,19,19,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O
42,20,4,1.289100,1.112990,0.650283,0.012857,0,0,0,O,C
43,20,20,0.000000,0.000000,0.000000,0.000000,0,0,0,O,O

In [6]:
# df_nnlistでcentral speciesがCのものに絞る
df_nnlist_central_species_C = df_nnlist[df_nnlist['central species'] == 'C']
df_nnlist_central_species_C

,central atom,neighboring atom,distance,X,Y,Z,unitcell_x,unitcell_y,unitcell_z,central species,neighboring species
0,1,1,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
1,1,9,1.282630,0.000000,1.281885,-0.043713,0,0,0,C,O
2,1,13,1.289100,1.112990,-0.650283,0.012857,0,0,0,C,O
3,1,16,1.289100,-1.112990,-0.650283,0.012857,0,0,0,C,O
4,2,2,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
5,2,10,1.282630,0.000000,-1.281885,-0.043713,0,0,0,C,O
6,2,14,1.289100,-1.112990,0.650283,0.012857,0,0,0,C,O
7,2,17,1.289100,1.112990,0.650283,0.012857,0,0,0,C,O
8,3,3,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
9,3,11,1.282630,0.000000,-1.281885,0.043713,0,0,0,C,O
10,3,15,1.289100,-1.112990,0.650283,-0.012857,0,0,0,C,O
11,3,19,1.289100,1.112990,0.650283,-0.012857,0,0,0,C,O
12,4,4,0.000000,0.000000,0.000000,0.000000,0,0,0,C,C
13,4,12,1.282630,0.000000,1.281885,0.043713,0,0,0,C,O
14,4,18,1.289100,1.112990,-0.650283,-0.012857,0,0,0,C,O
15,4,20,1.289100,-1.112990,-0.650283,-0.012857,0,0,0,C,O

In [43]:
# さらに，炭酸イオンかどうかを判定するためにに，あるcentral atomのneighboring speciesがCとO３つの計４つでできているか確認したい
# central atomの値を入力すれば，neighboring speciesのリストを返す関数get_neighboring_species_list()を作成
def get_neighboring_species_list(central_atom_id, df=df_nnlist_central_species_C):
        """
        To get all central atoms of a cluster(:neighbors), Input a number of cluster center element number(:central atom)

        Input: central atom column element In df_nnlist
     -> Output: All neighboring atom column element that Input(:elemnt) match central atom column element

        param1: Input: central atom column element In df_nnlist
        """
        # 左側の列から対応する行を選択し、右側の数値を取得
        # result = df_nnlist[df_nnlist['central atom'] == input_value]['neighboring atom'].values
        neighboring_species_list = df[df['central atom'] == central_atom_id]['neighboring species'].tolist()
        return neighboring_species_list

# test func
get_neighboring_species_list(1)

['C', 'O', 'O', 'O']

In [49]:
def match_C_O_3(central_atom_id):
    # 原子団の要素数は，Cが1つ，Oが3つの計4つかどうかcheck
    if len(get_neighboring_species_list(central_atom_id)) == 4:
        # 原子団の要素にCが1つだけ含まれているかどうかcheck
        if get_neighboring_species_list(central_atom_id).count('C') == 1:
            # 原子団の要素にOがちょうど3つ含まれているかどうかcheck
            if get_neighboring_species_list(central_atom_id).count('O') == 3:
                return True
        else:
            return False
    else:
        return False

# test func
match_C_O_3(1)

True

In [76]:
# df_nnlist_central_species_Cに対し，CO3がどうかを確認し，CO3である原子のid一覧を取得
# まず，中心元素がCのid一覧(central atomの値の一覧)を取得
central_species_C_list = df_nnlist_central_species_C['central atom'].unique()
# その中で，match_C_O_3()を用いて，過不足なくCO3だけを含むものに絞る
matched_central_species_C_list = [i for i in central_species_C_list if match_C_O_3(i)]
print(matched_central_species_C_list)

[1, 2, 3, 4]

In [77]:
# CO3の原子団に属するすべての原子のid(central atomの値)を得るための関数
def get_neighboring_atoms_list(central_atom_id, df=df_nnlist_central_species_C):
        """
        To get all central atoms of a cluster(:neighbors), Input a number of cluster center element number(:central atom)

        Input: central atom column element In df_nnlist
     -> Output: All neighboring atom column element that Input(:elemnt) match central atom column element

        param1: Input: central atom column element In df_nnlist
        """
        neighboring_atoms_list = df[df['central atom'] == central_atom_id]['neighboring atom'].tolist()
        return neighboring_atoms_list

In [90]:
# CO3の原子団に属するすべての原子のid(central atomの値)を得る
all_C_O_3_list = [get_neighboring_atoms_list(i) for i in matched_central_species_C_list]
# 2重リストを1重リストにflatten
import itertools
all_C_O_3_list = list(itertools.chain.from_iterable(all_C_O_3_list))
print(all_C_O_3_list)

[1, 9, 13, 16, 2, 10, 14, 17, 3, 11, 15, 19, 4, 12, 18, 20]

In [93]:
# CO3の原子団に属さないすべての原子のid(central atomの値)を得る
all_non_C_O_3_list = list(set(df_coords['central atom'].tolist()) - set(all_C_O_3_list))
print(all_non_C_O_3_list)

[8, 5, 6, 7]

In [105]:
# CO3の中心原子Cと，CO3の原子団に属さないすべての原子をリストにしてから，フィルター作成
all_central_atom_list = matched_central_species_C_list + all_non_C_O_3_list
print(all_central_atom_list)

[1, 2, 3, 4, 8, 5, 6, 7]

In [109]:
# all_central_atom_listをfilter化
all_central_atom_filter = df_coords['central atom'].apply(lambda x: x in all_central_atom_list)

In [143]:
# 絶対中心座標のDataFrame
df_coords_abs_center = df_coords[all_central_atom_filter]
# x,y,zカラムを文字列から数値に変換
df_coords_abs_center = df_coords_abs_center.astype({'x': float, 'y': float, 'z': float})
df_coords_abs_center

   central atom        x        y        z Species
0             1 0.250000 0.757000 0.919000       C
1             2 0.250000 0.743000 0.419000       C
2             3 0.750000 0.243000 0.081000       C
3             4 0.750000 0.257000 0.581000       C
4             5 0.250000 0.416310 0.754900      Ba
5             6 0.250000 0.083690 0.254900      Ba
6             7 0.750000 0.583690 0.245100      Ba
7             8 0.750000 0.916310 0.745100      Ba

In [171]:
# 相対中心座標を計算
df_nnlist_groupbyed = df_nnlist[['central atom', 'X', 'Y', 'Z']].groupby('central atom').mean()
# # central atomカラムでgroupby.mean()した後、index列(central atom)をカラムにする   
df_nnlist_groupbyed = df_nnlist_groupbyed.reset_index() 
# 相対中心座標のDataFrame
df_relative_center = df_nnlist_groupbyed[all_central_atom_filter]
df_relative_center

   central atom        X         Y         Z
0             1 0.000000 -0.004670 -0.004500
1             2 0.000000  0.004670 -0.004500
2             3 0.000000  0.004670  0.004500
3             4 0.000000 -0.004670  0.004500
4             5 0.000000  0.000000  0.000000
5             6 0.000000  0.000000  0.000000
6             7 0.000000  0.000000  0.000000
7             8 0.000000  0.000000  0.000000

In [174]:
def sum_abs_relative_coords(df_abs=df_coords_abs_center, df_relative=df_relative_center):
    df_coords_x = df_abs['x'] + df_relative['X']
    df_coords_y = df_abs['y'] + df_relative['Y']
    df_coords_z = df_abs['z'] + df_relative['Z']
    df_coords_species = df_abs['Species']

    # カラム名を指定してデータフレームを作成
    df_coords_fix = pd.DataFrame({
        'X': df_coords_x,
        'Y': df_coords_y,
        'Z': df_coords_z,
        'Species': df_coords_species,
    })

    return df_coords_fix


df_coords_fix = sum_abs_relative_coords(df_abs=df_coords_abs_center, df_relative=df_relative_center)
df_coords_fix

         X        Y        Z Species
0 0.250000 0.752330 0.914500       C
1 0.250000 0.747670 0.414500       C
2 0.750000 0.247670 0.085500       C
3 0.750000 0.252330 0.585500       C
4 0.250000 0.416310 0.754900      Ba
5 0.250000 0.083690 0.254900      Ba
6 0.750000 0.583690 0.245100      Ba
7 0.750000 0.916310 0.745100      Ba

In [176]:
# write df to poscar
df2poscar.df2poscar(df=df_coords_fix)

./gen_data/POSCAR にクラスタ化後の内容が書き込まれました。